@import 'mixins';
@import 'variables';
/* BRYT VID 900 PX*/
@media screen and (min-width: 900px){
    

}
   /* width: fit-content; /* Makes the headers width compared to the screen size */
   /*
   footer{                                              ÄNDRAR FOOTERN TILL ATT BLI BRED
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 
}

.infoFooter{
    grid-column-start: 1;
    grid-column-end: 2;
}
.siteMap{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 10px;
}
.followUs{
    grid-column-start: 3;
    grid-column-end: 4;
} */


@import 'sections/header.scss';

@import 'sections/container.scss';

@import 'sections/footer.scss';



