@mixin card{
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.3em;
}

@mixin breakpoint($min-size){
    @media screen and (min-width: $min-size){
        @content;
    }      
}


//För att använda mixins i sass så skriv @include och sen namn på mixin