
/* BRYT VID 900 PX*/
@media screen {
   /* width: fit-content; /* Makes the headers width compared to the screen size */
   /*
   footer{                                              ÄNDRAR FOOTERN TILL ATT BLI BRED
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 
}

.infoFooter{
    grid-column-start: 1;
    grid-column-end: 2;
}
.siteMap{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 10px;
}
.followUs{
    grid-column-start: 3;
    grid-column-end: 4;
} */
}


header{
    background-color: #011827 ;
    height: 144px;
    margin-bottom: 200px;
    text-align: left;

}
.companyName{
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

li{
    list-style: none;
}

.logoImage{
    width: 130px;
    height: 82px;
    border-radius: 17px;
    margin: 15px 5px 24px 15px
}
.companyName{
    display: flex;
    flex-direction: column;
    line-height: 0;
    font-size: 9px;
    margin-top: 20px;
}
.logo{
    display: flex;
    flex-direction: row;
}

.firstImage{
    max-width: 100%;
    margin-bottom: 300px;
    object-fit: contain;

}

.topNav{
    display: none;
}

.container{
    margin-top: 480px;
}
.onlineChallenges{
    display: block; /* Changes from whole width of site button to displaying it like a block */
    flex-direction: column; /* Changes the order of the elements to a column instead of default row */
   
}

.fullStory{
    background-color: #011827;
    color: #FFFFFF;
    height: 500px;
    width: 100%;
}
.fullStoryButton{
    background-color: #011827;
    color: #8ACFE5;
    border: 1px solid #8ACFE5;
    padding: 10px 30px;

}

.bookOnSiteImg, .seeAllChallenges{
    max-width: 100%;

    

}


.OnSiteChallengesButton{
    background-color: #8ACFE5;
    border: none;   
    padding: 10px 30px;
    color: black;
    font-family: "Roboto";
    font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
}

.aLinkOnlineChallenges{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    align-items: center;
}

/* START JOHN DOE */
.johnDoe{
    max-width: 100%;
}
.johnDoeImg{
    display: flex;
    flex-direction: row;
}
.johnDoeP1{
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    font-size: 24px;

    margin-bottom: 0;
    line-height: 21px;
    max-width: 300px;
}
.johnDoeP2{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    line-height: 21px;
}




footer{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    background-color: #011827 ;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 21.09px;
}

footer h6{
    font-weight: 700;
    font-size: 18px;
}
footer p{
    margin-left: 10px;
}