

header{
    background-color: #011827 ;
    height: fit-content;
    margin-bottom: 30px;
    text-align: left;
}
    .logo{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        min-width: 240px;
    }
    .logoImage{
        width: 130px;
        height: 82px;
        border-radius: 17px;
        margin: 15px 5px 24px 15px
    }
    .companyName{
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        line-height: 0;
        margin-top: 20px;
        grid-column: 2 / 3;
        }

        @media screen and (min-width: 580px) {
            .companyName{
                color: white;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 25px;
                display: flex;
                flex-direction: row;
                gap: 15px;
                line-height: 0;
                margin-top: 40px;
                margin-bottom: 40px;
                }
        }

    .topNav{
            display: none;
            visibility: hidden;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 24px;
    }
    .topNav a{
        color: white;
        line-height: 22px;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;   
        text-decoration: none;
     }
    .topNav a:hover{
        color: lightblue;
    }


    @media screen and (min-width: 900px) {
        .topNav{
            display: block;
            visibility: visible;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-left: 200px;
            margin-right: 200px;
            color: white;
            }
            #playOnline{
                grid-column: 2 / 3;
                color: white;
            }
            #playOnSite{
                grid-column: 4 / 5;
                color: white;
            }
            #story{
                grid-column: 6 / 7;
                color: white;
            }
            #contact{
                grid-column: 8 / 9;
                color: white;
            }
    }
   
        .firstImage1{
            width: 100%;
            object-fit: contain;
            display: block;
        }
        .firstImage2{
            width: 100%;
            height: auto;
            object-fit: scale-down;
            display: none;
            background-size: contain;
        }
        @media screen and (min-width: 1000px) {
            .firstImage1{
                display: none;
            }
            .firstImage2{
                display: block;
                object-fit: contain;
            }
        }
   


.container{
        margin-top: 5px;
        text-align: center;
    }
    .onlineChallenges{
        display: block; /* Changes from whole width of site button to displaying it like a block */
        flex-direction: column; /* Changes the order of the elements to a column instead of default row */
    }
    .onlineChallenges{
        margin-top: 100px;
    }
    @media only screen and (min-width: 300px) {
        .onlineChallenges{
            margin-top: 70px;
        }
        .topButtons{
            margin-top: 1%;
        }
    }
    @media only screen and (min-width: 800px) {
    .onlineChallengesButton{
        background-color: #E3170A;
        color: white;
        border: none;  
        padding: 20px 40px;
        border-radius: 4px;
        margin-bottom: 50px;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        display: inline-block;
        text-decoration: none;
    }
    
    .topButtons .onlineChallengesButton{
        color: white;
    }

    .onlineChallenges a{
        color: white;
    }
    }
@media only screen and (min-width: 1000px) {
    .onlineChallenges{
        margin-top: 1px;
    }
    }
    @media only screen and (min-width: 1200px) {
        .onlineChallenges{
            margin-top: 1px;
        }
        }
        @media only screen and (min-width: 1300px) {
            .onlineChallenges{
                margin-top: 2px;
            }
            }
    @media only screen and (min-width: 1500px) {
    .onlineChallenges{
        margin-top: 1px;
    }
    .topButtons{
        margin-top: 1%;
    }
    }
    .OnSiteChallengesButton{
        background-color: #8ACFE5;
        border: none;  
        padding: 20px 40px;
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
        font-size: 18px;
        border-radius: 4px;
    }


    /* START JOHN DOE */
    .johnDoe{
        max-width: 100%;
        margin-top: 150px;
        margin-left: 30px;
        margin-right: 30px;
    }
        .johnDoeImg{
            border-radius: 50px;
            float: left;
            margin-right: 40px;
        }
        .johnDoeP1, .johnDoeP1-2{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: italic;
            font-size: 24px;
            margin-bottom: 0;
            line-height: 21px;
            max-width: 500px;
            text-align: left;
            margin-left: 40px;
        }
        .johnDoeP2, .johnDoeP2-2{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            margin-top: 0;
            line-height: 21px;
            text-align: left;
            margin-left: 110px;
        }
        .johnDoe2{
            visibility: hidden;
        }
       
        @media screen and (min-width: 900px) {
            .johnGrid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                margin-top: 10px;
            }
            .johnDoe, .johnDoe2{
                max-width: 100%;
                margin-top: 20%;
                margin-left: 30px;
                margin-right: 30px;
                align-items:center;
            }
                .johnDoeImg{
                    grid-column: 1 / 2;
                }
                .johnDoeP1{
                    min-width: 100px;
                    grid-column: 1 / 2;
                }
                .johnDoeP2{
                    grid-column: 1 / 2;
                }
                .johnDoe2{
                    visibility: visible;
                }
               
                .johnDoeImg2{
                    grid-column:  2 / 3;
                    float: left;
                }
                .johnDoeP1-2{
                    min-width: 100px;
                    grid-column:  2 / 3;
                }
                .johnDoeP2-2{
                    grid-column:  2 / 3;
                }
        }
        @media screen and (min-width: 1200px) {
            .johnDoe, .johnDoe2{
                max-width: 100%;
                margin-top: 20%;
                margin-left: 100px;
                margin-right: 100px;
                align-items:center;
        }
    }


    .challenges{
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: "Roboto", sans-serif;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 10px;
        padding: 0.3em;
        width: 250%;
        gap: 30px;
        height: fit-content;
        border-radius: 10px;
        text-align: left;
    }
    .challenges2, .challenges3{
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: "Roboto", sans-serif;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 0.3em;
        width: 100%;
        gap: 30px;
        height: fit-content;
        border-radius: 10px;
        text-align: left;
        visibility: hidden;
    }
    .gridChallenges{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    .cardButtons{
        margin-top: 10px;
        padding: 10px 20px;
        width: fit-content;
        font-size: 12px;
        background-color: #E3170A;
        color:  white;
        border: none;  
        float: right;
        padding: 20px 60px;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }
    .bookOnSiteButton1{
        padding: 5px 20px;
        width: fit-content;
        font-size: 12px;
        float: right;
        background-color: #E3170A;
        color:  white;
        border: none;  
        padding: 10px 20px;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        width: fit-content;
    }
    @media only screen and (min-width: 900px) {
        .challenges{
            width: 100%;
        }
        .challenges2, .challenges3{
            width: 100%;
            visibility: visible;
        }
        .cardButtons, .bookOnSiteButton1 {
            padding: 5px 40px;
        }
    }


        .popularChallengeTitle{
            font-family: "Roboto", sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0em;
            margin-bottom: 5px;
        }
        .challenges h4, .challenges2 h4, .challenges3 h4{
            font-size: 28px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 32.81px;
            padding: 0;
            margin-bottom: 0;
            margin-top: 8px;
            text-align: left;
        }
        .challengesImg{
            max-width: 100%;    
            border-radius: 8px 8px 0px 0px;
            height: 319;
            object-fit: cover;
        }
       
        .review{
            display: flex;
            flex-direction: row;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            text-align: left;
       }
            .review h4{
                font-family: "Roboto", sans-serif;
                font-size: 28px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
            }
            .starReview{
                width: 23px;
                height: 26px;
            }


            .onlineChallengesButton{
                color: #36769D;
            }
           
           


    .fullStory{
        background-color: #011827;
        color: #FFFFFF;
        height: 400px;
        width: 100%;
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        padding: 20px 20px;
        margin-top: 40px;
   }
        .fullStory p{
            font-size: 28px;
            margin-right: 20px;
        }
        .fullStoryButton{
            background-color: #011827;
            color: #8ACFE5;
            border: 1px solid #8ACFE5;
            padding: 15px 30px;
            border-radius: 4px;
            display: block;
            margin: 0 auto;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 24px;
        }
   
    @media only screen and (min-width: 900px) {
            .fullStory{
                margin-top: 40px;
            }
            .fullStory p{
                width: 100vh;
                font-size: 28px;
                text-align: left;
                margin-left: 30%;
                margin-top: 8%;
            }
            .fullStoryButton{
                padding: 15px 50px;
                font-size: 24px;
            }
    }
    @media only screen and (min-width: 1200px) {
            .fullStory p{
                font-size: 30px;
                text-align: left;
                margin-top: 5%;
                max-width: 600px;
    }
    }
    @media only screen and (min-width: 1500px) {
        .fullStory p{
            font-size: 30px;
            max-width: 800px;
    }
}


    .bookOnSiteImg, .seeAllChallengesImg{
        max-width: 100%;
    }
        .bookOnSite p{
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            text-align: left;
            margin: 20px 20px;  
        }
        .bookOnSite h4{
            font-family: "Roboto", sans-serif;
            font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
            font-size: 32px;
            color: #000000;
            line-height: 37.5px;
            margin: 20px 20px;
            text-align: left;
        }




    .seeAllChallenges h4{
        font-family: "Roboto", sans-serif;
        font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
        font-size: 32px;
        margin-top: 10px;
        text-align: left;
        margin: 20px 20px;
    }
        .seeAllChallenges p{
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            text-align: left;
            margin: 20px 20px;
        }
       
 
        .seeAllChallengesButton, .bookOnSiteButton{
            padding: 20px 60px;
            width: fit-content;
            font-size: 12px;
            float: left;
            background-color: #E3170A;
            color:  white;
            border: none;  
            border-radius: 4px;
            margin-bottom: 50px;
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            width: fit-content;
            margin: 20px 20px;
        }


/* GRIDS with different screen sizes */
@media only screen and (min-width: 900px) {
    .bookOnSite{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        font-size: clamp (16px, 16px, 35px);
    }
    .seeAllChallenges{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .bookOnSiteImg {
        grid-column: 1 / 2;
        object-fit: contain;
    }
    .bookOnSite h4{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 30px 50px;
        margin-left: 50px;
        text-align: left;
        margin-right: 30px;
    }
    .bookOnSite p{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        margin-left: 50px;
        margin-right: 30px;
        margin-top: 150px;
    }
    .bookOnSiteButton{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding: 2px 40px;
        max-height: 50px;
        width: fit-content;
        margin-top: 250px;
        margin-left: 50px;
        text-align: left;
        margin-right: 30px;
    }


    .seeAllChallengesImg{
        grid-column: 2 / 3;
        object-fit: contain;
    }
    .seeAllChallenges h4{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
        margin-left: 30px;
    }
    .seeAllChallenges p{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
        margin-right: 50px;
        margin-left: 30px;
        margin-top: 150px;
    }
    .seeAllChallengesButton{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 2px 40px;
        max-height: 30px;
        width: fit-content;
        margin-left: 30px;
        text-align: left;
        margin-right: 30px;
        margin-top: 250px;
    }
}


@media only screen and (min-width: 1100px) {
   
    .bookOnSite h4{
        font-size: 30px;
        margin-top: 60px;
    }
    .bookOnSite p{
        font-size: 20px;
        margin-top: 150px;
    }
    .bookOnSiteButton{
        margin-top: 300px;
    }
    .seeAllChallenges h4{
        font-size: 30px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;
    }
    .seeAllChallenges p{
        font-size: 20px;
        text-align: left;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 180px;
    }
    .seeAllChallengesButton{
        margin-top: 300px;
        margin-left: 100px;
        margin-bottom: 100px;
        text-align: left;
    }
}


@media only screen and (min-width: 1500px) {
   
    .bookOnSite h4{
        font-size: 45px;
        margin-top: 100px;
    }
    .bookOnSite p{
        font-size: 30px;
        margin-top: 250px;
    }
    .bookOnSiteButton{
        margin-top: 500px;
    }
    .seeAllChallenges h4{
        font-size: 45px;
        margin-top: 100px;
    }
    .seeAllChallenges p{
        font-size: 30px;
        margin-top: 300px;
    }
    .seeAllChallengesButton{
        margin-top: 500px;
        margin-bottom: 100px;
        padding: 2px 40px;
        }
    }


    footer{
      margin-top: 100px;
      display: grid;
      grid-template-columns: 1fr;
      background-color: #011827;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      width: 100%;
    }
    .footer1{
        margin-top: 20px;
    }
        .footer1, .footer2, .footer3 {
            margin-left: 10px;
           
        }
        footer h3{
              font-weight: 700;
              font-size: 18px;
              margin-bottom: 10px;
              line-height: 2px;
        }
        .footer1 p:hover, .footer2 p:hover, .footer3 p:hover {
            color: lightblue;
           
        }
   
    @media only screen and (min-width: 900px) {
     footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
     }
     .footer1{
        grid-column: 1 / 3;
        max-width: 50%;
        margin-left: 50px;
        line-height: 1;
        margin-top: 30px;
        margin-bottom: 30px;
     }
     .footer2{
        grid-column: 3 / 4;
        margin-top: 30px;
        margin-bottom: 30px;
     }
     .footer3{
        grid-column: 4 / 5;
        margin-top: 30px;
        margin-bottom: 30px;
       
     }
    }
