

header{
    background-color: #011827 ;
    height: 144px;
    margin-bottom: 30px;
    text-align: left;
}
    .logo{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        min-width: 240px;
    }
    .logoImage{
        width: 130px;
        height: 82px;
        border-radius: 17px;
        margin: 15px 5px 24px 15px
    }
    .companyName{
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        line-height: 0;
        margin-top: 20px;
        grid-column: 2 / 3;
        }
    .topNav{
            display: none;
            visibility: hidden;
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 24px;
    }


    @media screen and (min-width: 900px) {
        .topNav{
            display: block;
            visibility: visible;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-left: 200px;
            margin-right: 200px;
            color: white;
            }
            #playOnline{
                grid-column: 2 / 3;
                color: white;
            }
            #playOnSite{
                grid-column: 4 / 5;
                color: white;
            }
            #story{
                grid-column: 6 / 7;
                color: white;
            }
            #contact{
                grid-column: 8 / 9;
                color: white;
            }
    }
   
        .firstImage{
            background-size: contain;
            max-width: 100%;
            margin-bottom: 30px;
            height: fit-content;
        }







.container{
    margin-top: 280px;
    text-align: center;
}
    .onlineChallenges{
        display: block; /* Changes from whole width of site button to displaying it like a block */
        flex-direction: column; /* Changes the order of the elements to a column instead of default row */
    }
   
    .OnSiteChallengesButton{
        background-color: #8ACFE5;
        border: none;  
        padding: 20px 40px;
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
        font-size: 18px;
        border-radius: 4px;
    }


    .aLinkOnlineChallenges{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        align-items: center;
    }
   
    /* START JOHN DOE */
    .johnDoe{
        max-width: 100%;
        margin-top: 0;
        margin-left: 30px;
        margin-right: 30px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
}
        .johnDoeImg{
            border-radius: 50px;
            grid-column: 1 / 3;
        }
        .johnDoeP1{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: italic;
            font-size: 24px;
            margin-bottom: 0;
            line-height: 21px;
            max-width: 300px;
            grid-column: 3 / 7;
        }
        .johnDoeP2{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            margin-top: 0;
            line-height: 21px;
            grid-column: 3 / 7;
        }
        
        @media screen and (min-width: 900px) {
            .johnDoe{
                display: grid;
                grid-template-columns: repeat(8, 1fr);
            }
                .johnDoeImg{
                    border-radius: 50px;
                    grid-column: 1 / 2;
                }
                .johnDoeP1{
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 24px;
                    margin-bottom: 0;
                    line-height: 21px;
                    min-width: 100px;
                    grid-column: 2 / 4;
                }
                .johnDoeP2{
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 0;
                    line-height: 21px;
                    grid-column: 2 / 4;
                }
        }
        


    .challenges{
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: "Roboto", sans-serif;
        max-height: 446px;
        align-items: center;
        margin-bottom: 50px;
        padding: 0.3em;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
        gap: 30px;
        height: fit-content;
        border-radius: 10px;
    }

        .popularChallengeTitle{
            font-family: "Roboto", sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0em;
        }
        .challenges h4{
            font-size: 28px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 32.81px;
            padding: 0;
            margin-bottom: 0;
        }
        .challengesImg{
            max-width: 100%;    
            border-radius: 8px 8px 0px 0px;
            height: 319;
            object-fit: cover;
        }
        .challenges .bookOnSiteButton{
            padding: 5px 20px;
            width: fit-content;
            font-size: 12px;
            float: right;
        }
        .review{
            display: flex;
            flex-direction: row;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
       }
            .review h4{
                font-family: "Roboto", sans-serif;
                font-size: 28px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
            }
            .starReview{
                width: 23px;
                height: 26px;
            }
        
   


    .fullStory{
        background-color: #011827;
        color: #FFFFFF;
        height: 400px;
        width: 100%;
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        padding: 20px 20px;
        margin-top: 40px;
   }
        .fullStory p{
            font-size: 28px;
        }
        .fullStoryButton{
            background-color: #011827;
            color: #8ACFE5;
            border: 1px solid #8ACFE5;
            padding: 15px 30px;
            border-radius: 4px;
            display: block;
            margin: 0 auto;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 24px;
        }
    


    .bookOnSiteImg, .seeAllChallengesImg{
        max-width: 100%;
    }
        .bookOnSite p{
            font-family: "Roboto", sans-serif;
        }
        .bookOnSite h4{
            font-family: "Roboto", sans-serif;
            font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
            font-size: 32px;
            color: #000000;
            line-height: 37.5px;
            margin: 20px 20px;
        }


    .seeAllChallenges h4{
        font-family: "Roboto", sans-serif;
        font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
        font-size: 32px;
        margin-top: 10px;
    }
        .seeAllChallenges p{
            font-size: 24px;
            font-family: "Roboto", sans-serif;
        }
        .seeAllChallengesButton, .bookOnSiteButton{
            background-color: #E3170A;
            color: white;
            border: none;  
            padding: 20px 60px;
            border-radius: 4px;
            margin-bottom: 50px;
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
        }
   
    

footer{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #011827;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.footer1, .footer2, .footer3 {
    margin-left: 10px;
}
    footer h3{
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 10px;
          line-height: 2px;
    }

@media only screen and (min-width: 900px) {
 footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

 .footer1{
    grid-column: 1 / 3;
    max-width: 50%;
    margin-left: 50px;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .footer2{
    grid-column: 3 / 4;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .footer3{
    grid-column: 4 / 5;
    margin-top: 30px;
    margin-bottom: 30px;
    
 }

}
/* GRID when over 900 px*/
@media only screen and (min-width: 900px) {
    .bookOnSite, .seeAllChallenges{
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr;

    }
    .bookOnSiteImg {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

    }
    .bookOnSite h4{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 30px 50px;
        margin-left: 30px;
        text-align: left;
        margin-right: 30px;
    }
    .bookOnSite p{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }
    .bookOnSiteButton{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding: 2px 40px;
        max-height: 50px;
        width: fit-content;
        margin-top: 250px;
        margin-left: 30px;
        text-align: left;
        margin-right: 30px;
    }
   
    .seeAllChallengesImg{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: auto;
    }
    
    .seeAllChallenges h4{
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        text-align: left;
        margin-right: 30px;
        width: auto;
        margin-left: 30px;

    }
    .seeAllChallenges p{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 350px;
        margin-top: 200px;
        text-align: left;
        width: auto;
        margin-right: 30px;
        margin-left: 30px;
    }
    .seeAllChallengesButton{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 2px 40px;
        max-height: 50px;
        width: fit-content;
        margin-top: 350px;
        margin-left: 30px;
        text-align: left;
        margin-right: 30px;
    }
}


.bookOnSite  första raden (bild vänster, texth öger)
.seeAllChallenges andra raden (text vänster, bild öger)