

header{
    background-color: #011827 ;
    height: fit-content;
    margin-bottom: 30px;
    text-align: left;
}
    .logo{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        min-width: 240px;
        margin-bottom: 30px;
    }
    .logoImage{
        border-radius: 17px;
        height: 82px;
        margin: 15px 5px 24px 15px;
        width: 130px;
    }
    .companyName{
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 9px;
        flex-direction: column;
        grid-column: 2 / 3;
        line-height: 0;
        margin-top: 20px;
        }
        @media screen and (min-width: 580px) {
            .companyName{
                color: white;
                display: flex;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-size: 25px;
                flex-direction: row;
                gap: 15px;
                line-height: 0;
                margin-top: 40px;
                margin-bottom: 40px;
                }
        }

    .topNav{
            display: none;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 24px;
            display: none;
            visibility: hidden;
    }
    .topNav a{
        color: white;
        line-height: 22px;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30px;   
        text-decoration: none;
     }
    .topNav a:hover{
        color: lightblue;
    }
    @media screen and (min-width: 900px) {
        .topNav{
            color: white;
            display: block;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-left: 200px;
            margin-right: 200px;
            visibility: visible;
            }
            #playOnline{
                color: white;
                grid-column: 2 / 3;
            }
            #playOnSite{
                color: white;
                grid-column: 4 / 5;
            }
            #story{
                color: white;
                grid-column: 6 / 7;
            }
            #contact{
                color: white;
                grid-column: 8 / 9;
            }
    }

   

        .firstImage1{
            display: block;
            object-fit: contain;
            width: 100%;
        }
        .firstImage2{
            background-size: contain;
            display: none;
            height: auto;
            object-fit: scale-down;
            width: 100%;
        }
        @media screen and (min-width: 1000px) {
            .firstImage1{
                display: none;
            }
            .firstImage2{
                display: block;
                object-fit: contain;
            }
        }
   

.container{
        margin-top: 5px;
        text-align: center;
    }
    .onlineChallenges{
        align-items: center; /* Makes button to a block instead of full width */
        display: block; /* Changes from whole width of site button to displaying it like a block */
        display: flex;
        flex-direction: column; /* Changes the order of the elements to a column instead of default row */
    }
    .onlineChallengesButton{
        margin-top: 30px;
    }
    .OnSiteChallengesButton{
        background-color: #8ACFE5;
        border: none;  
        border-radius: 4px;
        color: black;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
        font-size: 18px;
        padding: 25px 70px;
    }
    @media only screen and (min-width: 300px) {
        .onlineChallenges{
            margin-top: 10px
        }
        .topButtons{
            align-items: center;
            display: block; /* Changes from whole width of site button to displaying it like a block */
            display: flex;
            flex-direction: column; /* Changes the order of the elements to a column instead of default row */
            margin-top: 1%;
        }
    }
    @media only screen and (min-width: 800px) {
        .onlineChallengesButton{
            background-color: #E3170A;
            border-radius: 4px;
            border: none;  
            color: white;
            display: inline-block;
            font-size: 28px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            margin-bottom: 50px;
            padding: 25px 70px;
            text-decoration: none;
        }
        .topButtons .onlineChallengesButton{
            color: white;
        }
        .onlineChallenges a{
            color: white;
        }
        .onlineChallenges{
            display: grid;
            grid-template-columns: 1fr 1fr;
            display: block;
        }
        .topButtons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            display: block;
        }
    }
    @media only screen and (min-width: 1000px) {
        .onlineChallenges{
            margin-top: 1px;
        }
    }
    @media only screen and (min-width: 1300px) {
        .onlineChallenges{
            margin-top: 2px;
        }
    }
    @media only screen and (min-width: 1500px) {
        .onlineChallenges{
            margin-top: 1px;
        }
        .topButtons{
            margin-top: 1%;
        }
    }
    .OnSiteChallengesButton{
        padding: 25px 70px;
        font-size: 28px;
    }


    /* START JOHN DOE */
    .johnDoe{
        max-width: 100%;
        margin-top: 70px;
        margin-left: 30px;
    }
        .johnDoeImg{
            border-radius: 50px;
            float: left;
            margin-right: 40px;
        }
        .johnDoeP1, .johnDoeP1-2{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: italic;
            font-size: 24px;
            margin-bottom: 0;
            max-width: 500px;
            margin-left: 40px;
            line-height: 21px;
            text-align: left;
            
        }
        .johnDoeP2, .johnDoeP2-2{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            margin-top: 0;
            margin-left: 110px;
            text-align: left;
        }
        .johnDoe2{
            display: none;
            visibility: hidden;
        }
       
        @media screen and (min-width: 900px) {
            .johnGrid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                margin-top: 10px;
            }
            .johnDoe, .johnDoe2{
                align-items:center;
                max-width: 100%;
                margin-top: 20%;
                margin-left: 30px;
                margin-right: 30px;
            }
                .johnDoeImg{
                    grid-column: 1 / 2;
                }
                .johnDoeP1{
                    min-width: 100px;
                    grid-column: 1 / 2;
                }
                .johnDoeP2{
                    grid-column: 1 / 2;
                }

                .johnDoe2{
                    display: block;
                    visibility: visible;
                }
                .johnDoeImg2{
                    grid-column:  2 / 3;
                    float: left;
                }
                .johnDoeP1-2{
                    min-width: 100px;
                    grid-column:  2 / 3;
                }
                .johnDoeP2-2{
                    grid-column:  2 / 3;
                }
        }
        @media screen and (min-width: 1200px) {
            .johnDoe, .johnDoe2{
                align-items:center;
                max-width: 100%;
                margin-top: 1%;
                margin-left: 100px;
                margin-right: 100px;
        }
        .johnDoe{
            margin-left: 400px;
        }
    }
    @media screen and (min-width: 1200px) {
        .johnDoe{
            margin-left: 300px;
        }
    }


    .challenges{
        align-items: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: "Roboto", sans-serif;
        gap: 30px;
        height: fit-content;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 10px;
        padding: 0.3em;
        text-align: left;
        width: 185%;
    }
    .challenges2, .challenges3{
        align-items: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: "Roboto", sans-serif;
        gap: 30px;
        height: fit-content;
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 0.3em;
        text-align: left;
        visibility: hidden;
        width: 100%;
    }
    .gridChallenges{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    .cardButtons{
        background-color: #E3170A;
        border-radius: 4px;
        border: none;
        color:  white;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px 60px;
        width: fit-content;
    }
    .bookOnSiteButton1{
        background-color: #E3170A;
        border: none; 
        border-radius: 4px;
        color:  white;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 24px;
        float: right;
        padding: 5px 20px;
        margin-bottom: 10px;
        padding: 10px 20px;
        width: fit-content;
    }
    @media only screen and (min-width: 900px) {
        .challenges{
            width: 100%;
        }
        .challenges2, .challenges3{
            width: 100%;
            visibility: visible;
        }
        .cardButtons, .bookOnSiteButton1 {
            padding: 5px 40px;
        }
    }


        .popularChallengeTitle{
            font-family: "Roboto", sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0em;
            margin-bottom: 5px;
        }
        .challenges h4, .challenges2 h4, .challenges3 h4{
            font-size: 28px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 32.81px;
            margin-bottom: 0;
            margin-top: 8px;
            padding: 0;
            text-align: left;
        }
        .challengesImg{
            border-radius: 8px 8px 0px 0px;
            max-width: 100%;    
            height: 319;
            object-fit: cover;
        }
    
        .review{
            display: flex;
            flex-direction: row;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            
       }
            .review h4{
                font-family: "Roboto", sans-serif;
                font-size: 28px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
            }
            .starReview{
                width: 24px;
                height: 26px;
            }
            .onlineChallengesButton{
                color: #36769D;
            }
           
           


    .fullStory{
        background-color: #011827;
        color: #FFFFFF;
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        height: 400px;
        margin-top: 40px;
        padding: 20px 20px;
        width: 100%;
   }
        .fullStory p{
            font-size: 28px;
            margin-right: 20px;
        }
        .fullStoryButton{
            background-color: #011827;
            border: 1px solid #8ACFE5;
            border-radius: 4px;
            color: #8ACFE5;
            display: block;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 24px;
            margin: 0 auto;
            padding: 15px 30px;
        }
   
    @media only screen and (min-width: 900px) {
        .fullStory{
            margin-top: 40px;
        }
        .fullStory p{
            font-size: 28px;
            margin-left: 30%;
            margin-top: 8%;
            text-align: left;
            width: 100vh;
        }
        .fullStoryButton{
            font-size: 24px;
            padding: 15px 50px;
        }
    }
    @media only screen and (min-width: 1200px) {
        .fullStory p{
            font-size: 30px;
            margin-top: 5%;
            max-width: 600px;
            text-align: left;
    }
    }
    @media only screen and (min-width: 1500px) {
        .fullStory p{
            font-size: 30px;
            max-width: 800px;
    }
}


    .bookOnSiteImg, .seeAllChallengesImg{
            max-width: 100%;
    }
        .bookOnSite p{
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            text-align: left;
            margin: 20px 20px;  
        }
        .bookOnSite h4{
            color: #000000;
            font-family: "Roboto", sans-serif;
            font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
            font-size: 32px;
            line-height: 37.5px;
            margin: 20px 20px;
            text-align: left;
        }




    .seeAllChallenges h4{
        font-family: "Roboto", sans-serif;
        font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
        font-size: 32px;
        margin-top: 10px;
        margin: 20px 20px;
        text-align: left;
    }
        .seeAllChallenges p{
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            margin: 20px 20px;
            text-align: left;
        }
        .seeAllChallengesButton, .bookOnSiteButton{
            background-color: #E3170A;
            border: none;  
            border-radius: 4px;
            color:  white;
            float: left;
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            margin: 20px 20px;
            margin-bottom: 50px;
            padding: 20px 60px;
            width: fit-content;
        }


/* GRIDS with different screen sizes */
@media only screen and (min-width: 900px) {
    .bookOnSite{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: clamp (16px, 16px, 35px);
        width: 100%;
    }
    .seeAllChallenges{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .bookOnSiteImg {
        grid-column: 1 / 2;
        object-fit: contain;
    }
    .bookOnSite h4{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 30px 50px;
        margin-left: 50px;
        margin-right: 30px;
        text-align: left;
    }
    .bookOnSite p{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: 50px;
        margin-right: 30px;
        margin-top: 150px;
        text-align: left;
    }
    .bookOnSiteButton{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-height: 50px;
        margin-right: 30px;
        margin-top: 250px;
        margin-left: 50px;
        padding: 2px 40px;
        text-align: left;
        width: fit-content;
    }


    .seeAllChallengesImg{
        grid-column: 2 / 3;
        object-fit: contain;
    }
    .seeAllChallenges h4{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 30px;
        text-align: left;
    }
    .seeAllChallenges p{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-right: 50px;
        margin-left: 30px;
        margin-top: 150px;
        text-align: left;
    }
    .seeAllChallengesButton{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-height: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 250px;
        padding: 2px 40px;
        text-align: left;
        width: fit-content;
    }
}


@media only screen and (min-width: 1100px) {
   
    .bookOnSite h4{
        font-size: 30px;
        margin-top: 60px;
    }
    .bookOnSite p{
        font-size: 20px;
        margin-top: 150px;
    }
    .bookOnSiteButton{
        margin-top: 300px;
    }
    .seeAllChallenges h4{
        font-size: 30px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;
    }
    .seeAllChallenges p{
        font-size: 20px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 180px;
        text-align: left;
    }
    .seeAllChallengesButton{
        margin-top: 300px;
        margin-left: 100px;
        margin-bottom: 100px;
        text-align: left;
    }
}


@media only screen and (min-width: 1500px) {
   
    .bookOnSite h4{
        font-size: 45px;
        margin-top: 100px;
    }
    .bookOnSite p{
        font-size: 30px;
        margin-top: 250px;
    }
    .bookOnSiteButton{
        margin-top: 500px;
    }
    .seeAllChallenges h4{
        font-size: 45px;
        margin-top: 100px;
    }
    .seeAllChallenges p{
        font-size: 30px;
        margin-top: 300px;
    }
    .seeAllChallengesButton{
        margin-top: 500px;
        margin-bottom: 100px;
        padding: 2px 40px;
        }
    }


    footer{
      background-color: #011827;
      color: white;
      display: grid;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      grid-template-columns: 1fr;
      margin-top: 100px;
      line-height: 12px;
      width: 100%;
    }
    .footer1{
        margin-top: 20px;
    }
        .footer1, .footer2, .footer3 {
            margin-left: 10px;
           
        }
        footer h3{
              font-weight: 700;
              font-size: 18px;
              margin-bottom: 10px;
              line-height: 2px;
        }
        .footer1 p:hover, .footer2 p:hover, .footer3 p:hover {
            color: lightblue;
        }
   
    @media only screen and (min-width: 900px) {
     footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
     }
     .footer1{
        grid-column: 1 / 3;
        max-width: 50%;
        margin-left: 50px;
        line-height: 1;
        margin-top: 30px;
        margin-bottom: 30px;
     }
     .footer2{
        grid-column: 3 / 4;
        margin-top: 30px;
        margin-bottom: 30px;
     }
     .footer3{
        grid-column: 4 / 5;
        margin-top: 30px;
        margin-bottom: 30px;
       
     }
    }


        


TEST



    body {
      font-family: 'Roboto', sans-serif;
    }
    
    .overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #011827;
      display: block;
      overflow-x: hidden;
      transition: 1.5s;
    }
    
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: white;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: lightblue;
      text-decoration: underline;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
   
    .opacity{
        color: white;
        opacity: 0.5%;
    }


    .hamburgerMenu{
        grid-column: 7 / 8;
        margin-top: 20px;
        margin-left: 150px;
        display: block;
        visibility: visible;
        color: white;
    }
    @media screen and (min-width: 500px) {
        .hamburgerMenu img {
            display: none;
        }
    }

    @keyframes fadeIn{

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }