

.container{
    margin-top: 480px;

li{
    list-style: none;
}


.onlineChallenges{
    display: block; /* Changes from whole width of site button to displaying it like a block */
    flex-direction: column; /* Changes the order of the elements to a column instead of default row */
   
}

.fullStory{
    background-color: #011827;
    color: #FFFFFF;
    height: 500px;
    width: 100%;
    display: block;
    font-size: 28px;
}
.fullStoryButton{
    background-color: #011827;
    color: #8ACFE5;
    border: 1px solid #8ACFE5;
    padding: 15px 40px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
}

.bookOnSiteImg, .seeAllChallenges{
    max-width: 100%;
}

.bookOnSite h4{
    font-family: "Roboto";
    font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
    font-size: 32px;
    color: #000000;

    line-height: 37.5px;
    margin: 20px 20px;
}
.seeAllChallenges h4{
    font-family: "Roboto";
    font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
    font-size: 32px;
    margin-top: 10px;
}
.seeAllChallenges p{
    font-size: 24px;
}
.seeAllChallengesButton, .bookOnSiteButton{
    background-color: #E3170A;
    color: white;
    border: none;   
    padding: 20px 60px;
    border-radius: 4px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
}

.OnSiteChallengesButton{
    background-color: #8ACFE5;
    border: none;   
    padding: 10px 30px;
    color: black;
    font-family: "Roboto";
    font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
    font-size: 18px;
    border-radius: 4px;
    margin-left: 91px;
}

.aLinkOnlineChallenges{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    align-items: center;
}

/* START JOHN DOE */
.johnDoe{
    max-width: 100%;
}
.johnDoeImg{
    display: flex;
    flex-direction: row;
}
.johnDoeP1{
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    font-size: 24px;

    margin-bottom: 0;
    line-height: 21px;
    max-width: 300px;
    
}
.johnDoeP2{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    line-height: 21px;
}


.challenges h3{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 32px;
    margin-top: 100px;
    line-height: 37.5px;
}
}

