
footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #011827;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21.09px;

footer h3{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}
