
header{
    background-color: #011827 ;
    height: 144px;
    margin-bottom: 200px;
    text-align: left;

    .logo{
        display: flex;
        flex-direction: row;
    }
    .logoImage{
        width: 130px;
        height: 82px;
        border-radius: 17px;
        margin: 15px 5px 24px 15px
    }
    .companyName{
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        line-height: 0;
        margin-top: 20px;
        }           
    .topNav{
            display: none;
        }
         
.firstImage{
    max-width: 100%;
    margin-bottom: 100px;
    object-fit: contain;
}
}
 
