.container {
  margin-top: 280px;
  /* START JOHN DOE */
}
.container li {
  list-style: none;
}
.container .onlineChallenges {
  display: block; /* Changes from whole width of site button to displaying it like a block */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Changes the order of the elements to a column instead of default row */
}
.container .fullStory {
  background-color: #011827;
  color: #FFFFFF;
  height: 500px;
  width: 100%;
  display: block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
}
.container .fullStoryButton {
  background-color: #011827;
  color: #8ACFE5;
  border: 1px solid #8ACFE5;
  padding: 15px 40px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.container .bookOnSiteImg, .container .seeAllChallenges {
  max-width: 100%;
}
.container .bookOnSite p {
  font-family: "Roboto", sans-serif;
}
.container .bookOnSite h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
  font-size: 32px;
  color: #000000;
  line-height: 37.5px;
  margin: 20px 20px;
}
.container .seeAllChallenges h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
  font-size: 32px;
  margin-top: 10px;
}
.container .seeAllChallenges p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
.container .seeAllChallengesButton, .container .bookOnSiteButton {
  background-color: #E3170A;
  color: white;
  border: none;
  padding: 20px 60px;
  border-radius: 4px;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.container .OnSiteChallengesButton {
  background-color: #8ACFE5;
  border: none;
  padding: 20px 40px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
  font-size: 18px;
  border-radius: 4px;
  margin-left: 91px;
}
.container .aLinkOnlineChallenges {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .johnDoe {
  max-width: 100%;
  margin-top: 0;
}
.container .johnDoeImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .johnDoeP1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 0;
  line-height: 21px;
  max-width: 300px;
}
.container .johnDoeP2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  line-height: 21px;
}
.container .challenges h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-top: 100px;
  line-height: 37.5px;
}
.container .challenges {
  font-family: "Roboto", sans-serif;
}