header {
  background-color: #011827;
  height: 144px;
  margin-bottom: 30px;
  text-align: left;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .logoImage {
  width: 130px;
  height: 82px;
  border-radius: 17px;
  margin: 15px 5px 24px 15px;
}
header .companyName {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0;
  margin-top: 20px;
}
header .topNav {
  display: none;
  visibility: hidden;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 900px) {
  header .topNav .topNav {
    display: block;
    visibility: visible;
  }
}
header .firstImage {
  background-size: contain;
  max-width: 100%;
  margin-bottom: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}