header {
  background-color: #011827;
  height: 144px;
  margin-bottom: 30px;
  text-align: left;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .logoImage {
  width: 130px;
  height: 82px;
  border-radius: 17px;
  margin: 15px 5px 24px 15px;
}
header .companyName {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0;
  margin-top: 20px;
}
header .topNav {
  display: none;
  visibility: hidden;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 900px) {
  header .topNav {
    display: block;
    visibility: visible;
  }
}
header .firstImage {
  background-size: contain;
  max-width: 100%;
  margin-bottom: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  margin-top: 280px;
  text-align: center;
  /* START JOHN DOE */
}
.container .onlineChallenges {
  display: block; /* Changes from whole width of site button to displaying it like a block */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Changes the order of the elements to a column instead of default row */
}
.container .OnSiteChallengesButton {
  background-color: #8ACFE5;
  border: none;
  padding: 20px 40px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
  font-size: 18px;
  border-radius: 4px;
}
.container .aLinkOnlineChallenges {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .johnDoe {
  max-width: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .johnDoe .johnDoeImg {
  border-radius: 50px;
}
.container .johnDoe .johnDoeP1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 0;
  line-height: 21px;
  max-width: 300px;
}
.container .johnDoe .johnDoeP2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  line-height: 21px;
}
.container .challenges {
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  max-height: 446px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  gap: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  /*
  @mixin breakpoint($min-size){
      @media screen and (min-width: $min-size){
          @content;
      }      */
}
.container .popularChallengeTitle {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
}
.container .challenges h4 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.81px;
  padding: 0;
  margin-bottom: 0;
}
.container .challengesImg {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 319;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .challenges .bookOnSiteButton {
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  float: right;
}
.container .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.container .review h4 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.container .review .starReview {
  width: 23px;
  height: 26px;
}
.container .card {
  height: 456px;
  width: 100%;
}
.container .fullStory {
  background-color: #011827;
  color: #FFFFFF;
  height: 400px;
  width: 100%;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  padding: 20px 20px;
  margin-top: 40px;
}
.container .fullStory .fullStory p {
  font-size: 28px;
}
.container .fullStory .fullStoryButton {
  background-color: #011827;
  color: #8ACFE5;
  border: 1px solid #8ACFE5;
  padding: 15px 30px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.container .bookOnSiteImg, .container .seeAllChallenges {
  max-width: 100%;
}
.container .bookOnSite p {
  font-family: "Roboto", sans-serif;
}
.container .bookOnSite h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
  font-size: 32px;
  color: #000000;
  line-height: 37.5px;
  margin: 20px 20px;
}
.container .seeAllChallenges h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold text. Regular is 400, Medium is 500, bold 700 */
  font-size: 32px;
  margin-top: 10px;
}
.container .seeAllChallenges p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
.container .seeAllChallengesButton, .container .bookOnSiteButton {
  background-color: #E3170A;
  color: white;
  border: none;
  padding: 20px 60px;
  border-radius: 4px;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #011827;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21.09px;
  margin-left: 10px;
}
footer footer h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}